@model nAssembla.DTO.Authentication

@{
    ViewBag.Title = "Autenticate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        @using (Html.BeginForm("Autenticate", "Account", FormMethod.Post))
        {
            <h2>Autenticate</h2>
            <div class="form-group">
	      <label> Access Token: </label>
                @Html.TextBoxFor(Model => Model.AccessToken, new { @class = "form-control" })
	  </div>
            <div class="form-group">
	      <label> Token: </label>
                @Html.TextBoxFor(Model => Model.RefreshToken, new { @class = "form-control" })
	  </div>
            <div class="form-group">
                <input class="form-control btn btn-success" type="submit" name="name" value="Autenticate in Assembla" />
	  </div>
        }
        <hr />
        <p class="text-danger text-center">Use the credentials provides for Assembla</p>
        <p class="text-danger text-center">For more information visit </p>
        <p class="text-center"><a href="https://www.assembla.com/user/edit/manage_clients" target="_blank">Manage Assembla Clients</a></p>
    </div>
    <div class="col-lg-4"></div>
</div>
