@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1>About the integration</h1>
        <p>This implementation was original development by <a href="https://github.com/GrantDG/nAssembla" target="_blank">GrantDG</a></p>
        <p>Use all the library nAssemba but implemented in asp.net application</p>
        <hr />
    </div>
</div>
