@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-4">
        <h2>Assembla (WEB)</h2>
        <h3>Web integration with ASP.Net MVC</h3>
        <p class="text-info">
            This integration use the api of Assembla for access to the information of workspaces, areas, tasks, Milestones
            registered in the official web of Assembla.
        </p>
        <p class="text-info">
            The finality of this integration is learn to use the DTO library developer for another developers and apply in a
            web project with the objetive to implement thats library differents User Interfaces. In this case in web project but you can use
            in different type of implementation
        </p>
    </div>
    <div class="col-lg-8">
        <div class="row">
            <div class="col-lg-4">
                <a href="https://www.assembla.com" target="_blank">
                    <img src="~/Content/Images/BlueLogoAssembla.png" class="img-responsive text-center" alt="Assembla" />
                </a>
                <br />
                <br />
                <h2>Assembla</h2>
                <p>Assembla is a platform for developers manage teams, tasks, files, codes, and more </p>

            </div>
            <div class="col-lg-4">
                <a href="https://github.com/mariobot/nAssembla" target="_blank">
                    <img src="~/Content/Images/GitHubLogo.jpg" class="img-responsive text-center" alt="GitHub" />
                </a>
                <h2>GitHub</h2>
                <p>GitHub Repository. we hope your colaboration.</p>
                <a class="btn btn-success" href="https://github.com/mariobot/nAssembla" target="_blank">github.com/mariobot/nAssembla</a>
            </div>
            <div class="col-lg-4">
                <br />
                <br />
                <a href="https://www.microsoft.com/net" target="_blank">
                    <img src="~/Content/Images/net-logo.jpg" class="img-responsive text-center" alt=".Net" />
                </a>
                <br />
                <br />
                <h2>Microsoft .Net</h2>
                <p>Implemented with .Net Technologies</p>
            </div>
        </div>
    </div>
</div>


