@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-4">
        <h1>Assembla</h1>
        <h3>Integracion con Assembla</h3>
        <p>Por medio de esta aplicacion se realiza la integracion con las apis de assembla para consultar los proyectos en ejecucuion</p>
    </div>
    <div class="col-lg-4">
        <h1>Assembla</h1>
        <h3>Integracion con Assembla</h3>
        <p>Por medio de esta aplicacion se realiza la integracion con las apis de assembla para consultar los proyectos en ejecucuion</p>
    </div>
    <div class="col-lg-4">
        <h1>Assembla</h1>
        <h3>Integracion con Assembla</h3>
        <p>Por medio de esta aplicacion se realiza la integracion con las apis de assembla para consultar los proyectos en ejecucuion</p>
    </div>
</div>

