@{
    ViewBag.Title = "Tutorial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-2">
        <div class="">
        </div>
    </div>
    <div class="col-lg-8">
        <h2>Tutorial</h2>
        <h3>1 - </h3>
        <p>For use this solution you need to have the API credentials of your Assembla Account</p>
        <p>You can consult in the next section the process to </p>


    </div>
</div>
